.mask {
    position: absolute;
    mask-image: url(../public/mask.svg);
    background-color: white;
    mask-repeat: no-repeat;
    color: #121212;
    /* margin: -160px -290px;
    padding: 160px 290px; */
}